/* Variables Start */

$primary-color: #006989;
$secondary-color: #EDAE49;
$left-card-gradient: rgba(255,255,255, 0.93);
$right-card-gradient: rgba(0,0,0, 0.7);
$background-gradient: rgba(0, 105, 137, 0.8);
$left-card-background-image: linear-gradient($left-card-gradient, $left-card-gradient), url("../img/playing-cards-2.jpeg");
$right-card-background-image: linear-gradient($right-card-gradient, $right-card-gradient), url("../img/playing-cards.jpg");
$background-image: linear-gradient($background-gradient, $background-gradient), url("../img/charity.jpg");

/* Variables Ends */


#signin-container {
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: $background-image;
}
.top {
  padding: 20px;
}
.card {
  margin-left: auto;
  margin-right: auto;
}
.padding {
  padding: 10px;
}
.left-signin-card {
  background-color:white;
  min-height: 75vh !important;
  background-size: cover;
  background-image: $left-card-background-image;
}
.right-signin-card {
  background-color: black;
  min-height: 75vh !important;
  background-size: cover;
  background-image: $right-card-background-image;
}
