/* Variables Start */
/* Variables Ends */
.ignore-css {
  all: unset; }

.signupInputField {
  margin-bottom: 0; }

#signupContainer {
  background-color: #006989;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 105, 137, 0.8), rgba(0, 105, 137, 0.8)), url("../img/charity.jpg"); }

.top {
  padding: 20px; }

.card {
  margin-left: auto;
  margin-right: auto; }

.padding {
  padding: 10px; }

.uploadButton {
  background-color: transparent;
  color: #EDAE49;
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;
  border-color: #EDAE49;
  height: 5px; }

.uploadButton > span {
  color: #EDAE49; }

.uploadButton:hover {
  background-color: transparent; }

.leftSignupCard {
  background-color: white;
  min-height: 90vh !important;
  background-size: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)), url("../img/playing-cards-2.jpeg"); }

.rightSignupCard {
  background-color: black;
  min-height: 90vh !important;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/playing-cards.jpg");
  /* background:
        linear-gradient(to bottom, #000000,#006989); */ }
