<!-- players answer cards -->
  <div
    ng-hide="showTable || isCzar()"
    class="cards-board answers"
  >
    <div
      class="game-card"
      ng-repeat="card in game.players[game.playerIndex].hand"
      ng-click="pickCard(card)"
      ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}"
    >
      <div class="answer" ng-bind-html-unsafe="card.text">
      </div>
      <div class="logo">
        <i class="fas fa-hands"></i>
        Cards For Humanity
      </div>
      <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
      <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
    </div>
  </div>
  <!-- all answers picked by players on czar view -->
  <div
    class="cards-board czar-selections"
    ng-show="
    showTable ||
    game.state === 'waiting for czar to decide'"
  >
    <div
      ng-repeat="answer in game.table"
      class="answer-card-div"
    >
      <div
        class="game-card"
        ng-style="pointerCursorStyle()"
        id='table'
        ng-click="pickWinning(answer)"
        ng-repeat="card in answer.card"
        ng-animate="{enter:'animated bounceInLeft'}"
      >
        <div class="answer" ng-bind-html-unsafe="card.text"></div>
        <div class="logo">
          <i class="fas fa-hands"></i>
          Cards For Humanity
        </div>
      </div>
    </div>
  </div>
</div>

