</script>
<div id="app-container" class="main image-one" ng-controller="GameController" ng-intro-options="IntroOptions" ng-intro-method="CallMe">
  <!-- header -->
  <div class="header">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">CFH</a>
          <a data-target="slide-out" class="sidenav-trigger" ng-click="openSideNav()"><i class="material-icons">menu</i></a>
          <div id="nav-mobile" class="right hide-on-med-and-down">
            <ul>
              <li><a class="waves-effect waves-yellow btn tour-btn" ng-click="CallMe()">Take A Tour</a></li>
              <li><a class="waves-effect waves-light btn leave-game-btn" ng-click="abandonGame()">Leave Game</a></li>
              <li class="nav-img-li profile"><img class="nav-user-img" ng-src="{{currentPlayer().avatar}}" /></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- mobile sidenav -->
      <ul id="slide-out" class="sidenav">
        <li>
          <div class="sidenav-close-div">
              <a class="sidenav-close" ng-click="sideNavLinkClick()"><i class="material-icons">close</i></a>
          </div>
        </li>
        <li>
          <div class="user-view">
            <div class="nav-img-div">
              <img class="nav-user-img" ng-src="{{currentPlayer().avatar}}" />
            </div>
            <p>{{currentPlayer().username}}</p>
          </div>
        </li>
        <li><a class="waves-effect waves-yellow btn tour-btn" ng-click="CallMe()">Take A Tour</a></li>
        <li><a class="waves-effect waves-light btn leave-game-btn" ng-click="sideNavAbandonGame()">Leave Game</a></li>
      </ul>
  </div>

  <!-- game board -->
  <div class="game-content">
    <!-- main board -->
    <div class="main-board">
      <!-- interaction board -->
      <div class="interaction-div">

        <!-- timer -->
        <div class="timer">
            <p>{{game.time}}</p>
        </div>

        <!-- new round modal -->
        <div id="new-round-modal" class="modal">
          <div class="modal-content bg-color">
            <div class="round-winner-msg">
              <span>{{game.roundWinner.username}}</span> won this round!
            </div>
            <div class="countdown">
              Next round starts in <br><br>
              <span class="timer">{{game.time}}</span>
            </div>

          </div>
        </div>

         <!-- czar question selection modal -->
         <div id="czar-question-selection" class="modal">
          <div class="modal-content">
            <div class="heading">
              <p>You are the <b>Czar</b></p>
              <p>Please pick a question from the deck</p>
            </div>
            <div class="question-cards">
              <div class="question-card"
                ng-click="flipQuestionCard($index)"
                ng-repeat="question in game.czarQuestionOptions"
              >
                <div class="back">
                  <div class="content">
                    <div class="icon">
                      <i class="fas fa-hands"></i>
                    </div>
                    Cards For Humanity
                  </div>
                </div>
                <div class="front" >
                  <div class="content">
                      {{question.text}}
                    <div class="trademark">
                      <span class="icon">
                        <i class="fas fa-hands"></i>
                      </span>
                      Cards For Humanity
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- region modal -->
        <div id="region-modal" class="modal region-modal">
            <div class="modal-content">
              <div class="modal-tour-content">
                  <!-- <h5>Welcome</h5> -->
                  <a class="waves-effect waves-yellow btn tour-btn" ng-click="takeTour()">Take A Tour</a>
                  <p>or</p>
              </div>
              <h6 class="text-center">Choose a Region Below to Start Playing So That We Can Know How Horrible You Are</h6>
              <div class="input-field col s12">
                    <select ng-model="selectedRegion">
                        <option value="" disabled selected>Choose your region</option>
                        <option ng-repeat="region in game.regions" value="{{region}}">
                          {{region | uppercase}}
                        </option>
                      </select>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/" class="modal-close btn-flat">Cancel</a>
              <button type="button" ng-click="initialGame();" class="btn-flat btnSecondary" ng-disabled="!selectedRegion">
                Join Game</button>
            </div>
        </div>

        <!-- question board -->
        <question class="interaction-board" id="interaction-board-tour"></question>
      </div>

        <!-- info board -->
      <div class="card-board">
        <!-- before game start -->
        <div
          id="instructions-board-tour"
          class="instructions"
          ng-show="game.state === 'awaiting players'"
        >
          <p class="text-center">Instructions</p>
          <ol>
            <li>Each player begins with, and will always have, 10 white answer cards.</li>
            <li>For each round, one player is randomly chosen as the Card Czar.</li>
            <li>The player with the highlighted score card is the Czar for that round.</li>
            <li>Everyone else answers the black question card by clicking on the answer card they want to use.</li>
            <li>The Card Czar then picks a favorite answer, and whoever played that answer wins the round.</li>
          </ol>
        </div>

        <!-- czar board while waiting-->
        <div
          class="czar-info"
          ng-show="isCzar() && game.state === 'waiting for players to pick'"
        >
          <div class="info">
            <p>You are the Card Czar</p>
            <p>Players are choosing their answers. Prepare to select a Card.</p>
          </div>
          <div class="make-a-wish">
            <p class='fact-tagline'>Did you know?</p>
            <p class='fact'>
                {{ makeAWishFact }}
            </p>
            <div class='logo'>
              <img src='../img/make-a-wish-logo.png'/>
            </div>
          </div>
        </div>

        <!-- answer cards -->
        <answers
          class="cards"
          ng-hide="game.state === 'game ended' || game.state === 'game dissolved' || game.state === 'awaiting players'"
        >
        </answers>

        <!-- game over stuff -->
        <div
          class="call-to-donate"
          ng-show="game.state === 'game ended' || game.state === 'game dissolved'"
        >
          <div>
              <p>What would you like to do now?</p>
              <p>You might consider donating to charity to atone for the horrifying answers you've submitted.</p>
              <p>Donating will also place a lovely crown on your avatar's head.</p>
          </div>
          <div class="btns">
            <button class="waves-effect waves-light btn join-btn" ng-click="game.joinGame('joinNewGame')">Start Game</button>
            <button class="waves-effect waves-light btn btn-large donate-btn" ng-click="donate()">Donate Now</button>
            <button class="waves-effect waves-light btn home-btn" ng-click="abandonGame()">Return to Lobby</button>
          </div>
        </div>
    <chat ng-if="game.gameID"></chat>
      </div>
    </div>

    <!-- scoreboard -->
    <player
      class="score-board"
    >
    </player>
  </div>

  <!-- Invite User Modal-->
  <div id="invite-modal" class="modal">
    <div class="modal-content ">
        <h5 class="text-center">Search for your friends</h5>
      <div class ="row invite-option">
          <label class ="col s6 m6">
              <input type="checkbox" />
              <span>Invite to Game</span>
          </label>
          <label class ="col s6 m6">
              <input type="checkbox" />
              <span>Connect as Friends</span>
          </label>
      </div>

      <div class="input-field col s12">
          <input type="search" class="invite-modal"
          placeholder="Search for users"
          name="search"
          ng-model="search"
          ng-change="searchUsers()"
          >

          <div class="invite-player" ng-repeat="player in match">
              <span> {{ player.name }}</span>
              <span> {{ player.email }}</span>
              <span>
                  <button
                    class="waves-effect waves-light btn invite-btn"
                    ng-click="inviteUsers(player.email)"
                    >
                    Send Request
                  </button>
              </span>
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <a href="/#!/app" class="modal-close btn cancel-request-btn">Cancel</a>
    </div>
</div>

  <!-- footer -->
  <div class="footer">
    <p class="text-center">
      This game is based on the
      <span class="footer-text">Card Against Humanity</span>
      card game, which is CC licensed (BY-NC-SA). Cards For Humanity is not affiliated with Cards Against Humanity.
    </p>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('.modal').modal({
      dismissible: false
    });
    $('#region-modal').modal('open');
  });
</script>
