</script>
<link rel="stylesheet" href="../css/common.css" type="text/css" />
<div id="app-container" ng-controller="GameController">
  <div id="menu-container">
    <div id="logo">
      <span id="first-word">Cards</span>
      <span id="second-word"> for</span>
      <span id="third-word">Humanity</span>
    </div>
    <div id = 'abandon-game-button' ng-click="abandonGame()">
        Abandon Game
    </div>
        <span id="tweet-container">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </span>
      <div id="invite-container" ng-show="game.state === 'awaiting players'" >

                  <div id="search-players">
                <input
                  type="search"
                  placeholder="Search for users"
                  name="search"
                  ng-model="search"
                  ng-change="searchUsers()"
                >
            </div>
            <div id="invite-player" ng-show="game.state === 'awaiting players'">
                    <div ng-repeat="player in match" style="display: flex">
                      <span style="margin-right: 20px"> {{ player.name }}</span>
                      <span style="margin-right: auto"> {{ player.email }}</span>
              <span><button class= "" ng-click="inviteUsers(player.email)">Invite</button></span>
                    </div>
            </div>
          </div>
  </div>
  <div id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div id="new-round-modal" class="modal">
          <div class="modal-content">
            <div class="round-winner-msg">
              <i>{{game.roundWinner.username}}</i> won this round!
            </div>
            <div class="countdown">
              Next round starts in <br />
              <span class="timer">{{game.time}}</span>
            </div>

          </div>
      </div>
      <div id="region-modal" class="modal">
          <div class="modal-content">
            <h5>Please choose a region below so we can know how horrible you are</h5>
            <div class="input-field col s12">
                  <select ng-model="selectedRegion">
                      <option value="" disabled selected>Choose your region</option>
                      <option ng-repeat="region in game.regions" value="{{region}}">
                        {{region | uppercase}}
                      </option>
                    </select>
              </div>
          </div>

          <div class="modal-footer">
              <a href="/" class="modal-close btn-flat">Cancel</a>
            <button type="button" ng-click="initialGame();" class="btn-flat btnSecondary" ng-disabled="!selectedRegion">
              Join Game</button>
          </div>
        </div>
      <div id="question-container-outer">
        <question></question>
      </div>
    </div>
    <answers></answers>
  </div>
      <!-- Maximum Player Notification Modal-->
  <div id="modal" ng-show="game.errorPlayerMax">
    <div id="modal-content">
      <div class="modal-body" ng-if="game.errorPlayerMax">
          <h6>{{game.errorPlayerMax}}</h6>
      </div>
      <div class="button-div">
        <span><button class= "" ><a href="/play?custom" id="startanewgame">New game</a></button></span>
        <span><button class= "" ng-click="abandonGame()">Go back</button></span>
      </div>
    </div>
  </div>
  <!-- Invite User Modal-->
  <div id="modal" ng-show="game.inviteMessage">
      <div id="modal-content">
        <button type="button" ng-click="closeModal()">&times;</button>
        <div class="modal-body" ng-if="game.inviteMessage">
          <h6>{{game.inviteMessage}}</h6>
        </div>
        <div ng-repeat="player in match">
            <span> {{ player.name }}</span>
            <span> {{ player.email }}</span>
    <span><button class= "" ng-click="inviteUsers(player.email)">Invite</button></span>
          </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('.modal').modal({
      dismissible: false
    });
    $('#region-modal').modal('open');
  });
</script>
