
<div id="landing-page" class="main-container" ng-controller="IndexController">
    
  <div class="top-section">
    <!-- <div class="slider-container"></div> -->
    <div id="slid" class="slider fullscreen slider-container" >
        <ul class="slides">
          <li>
            <img src="/img/playing-cards.jpg"> <!-- random image -->
          </li>
          <li>
            <img src="/img/group-shot.jpg"> <!-- random image -->
          </li>
          <li>
            <img src="/img/charity.jpg"> <!-- random image -->
          </li>  
        </ul>
    </div>
    <div class="overlay-content">
      <div class="web-title">
        <h1 class="center-align title-txt"><span style="color:#E4D019" >Cards</span> <span style="color:#66A182">For</span> <span style="color:#EDAE49">Humanity</span>  </h1>
        <p class="center-align title-info">A game for horrible people <span style="color:#EDAE49">desperately</span> trying to do good </p>
      </div>
      <div ng-hide="showOptions" class="top-btn center row">
        <div class="col l3"></div>
        <button class="waves-effect col l3 s5 main-btn signin-btn"><a href="#!/signin" class="btn-text">Sign In</a></button>
        <button class="waves-effect  col l3 s5 main-btn play-btn"><a href="#!/app" class="btn-text">Play As Guest</a></button>
        <div class="col l3"></div>
      </div> 
    </div>
  </div>
  <nav>
      <div class="nav-wrapper nav-content">
          <div class="nav-wrapper">
              <a href="/" class="brand-logo">CFH</a>
              <a data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <div id="nav-mobile" class="right hide-on-med-and-down">
                <ul>
                  <li><a href="#!/app">Join Game</a></li>
                  <li ng-hide="!showOptions"><a href="/profile">Profile</a></li>
                  <li ng-hide="!showOptions"><a ng-click="signout()">Sign Out</a></li>
                  <li ng-hide="showOptions"><a href="/signup">Sign Up</a></li>
                  <li><a href="http://www.crowdrise.com/cfhio/fundraiser/cards4humanity" class="waves-effect waves-light btn donate-btn">Donate Now</a></li>
                </ul>
              </div>
          </div>
      </div>
      <ul id="slide-out" class="sidenav">
          <li>
            <div class="sidenav-close-div">
                <a class="sidenav-close"><i class="material-icons">close</i></a>
            </div>
          </li>
          <li>
            <div class="user-view">
              <div class="nav-img-div">
                <img class="nav-user-img" src="{{global.user.avatar}}" />
              </div>
              <p>{{global.user.name}}</p>
            </div>
          </li>
          <li><a href="#!/app">Join Game</a></li>
          <li><a href="#!/signup">Sign Out</a></li>
          <li class="donate-btn-li"><a href="http://www.crowdrise.com/cfhio/fundraiser/cards4humanity" class="waves-effect waves-light btn donate-btn">Donate Now</a></li>
      </ul>
  </nav>
  <div class="bottom-section">
    <div class="steps">
      <h1 class="center head-title">How To Play</h1>
      <div class="card-collection ">
        <div class="card offset-l1 step1 col s12 m6 l2 black">
          <div class="card-content">
            <h1 class="card-title center">1</h1>
            <p class="center">Each player begins with, and will always have, 10 white answer cards</p>
          </div> 
        </div>
        <div class="card step2 col s12 m6 l2" >
          <div class="card-content">
              <h1 class="card-title center">2</h1>
              <p class="center">For each round, one player is randomly chosen as the Card Czar</p>
          </div> 
        </div>
        <div class="card step3 col s12 m6 l2">
          <div class="card-content">
              <h1 class="card-title center">3</h1>
              <p class="center">Everyone else answers the black question card by clicking on the answer card they want to use</p>
          </div> 
        </div>
        <div class="card step4 col s12 m6 l2">
          <div class="card-content">
              <h1 class="card-title center">4</h1>
              <p class="center">Each player begins with, and will always have, 10 white answer cards</p>
          </div> 
        </div>
        <div class="col l1"></div>
      </div>
    </div>
    <div class="info">
      <div class="info-txt">
        <h1 class="head-title live-txt center">We Improve Human Lives </h1>
        <p class="center flow-text">Cards for humanity strives to achieve a better state of life for all humans. To meet this goal,
           donations are used to provide people in slums and poverty prone areas with necessary resources to give them 
           a better life. These resources include education, health care, food, 
          clothing and anything that improves the lives of the people we are able to reach.
        </p>
      </div>
      <a href="http://www.crowdrise.com/cfhio/fundraiser/cards4humanity" class="waves-effect waves-light btn-large donate-btn">Donate</a>
      <!-- <button class="btn-large">Donate </button> -->
    </div>
    <div class="team">
      <h1 class="center head-title">Meet The Gondor Team </h1>
      <div class="team-members">
        <div class="team1">
          <div class="team-member white-text ">
            <img src="/img/moses.jpg" class="circle team-img responsive-img" alt="">
            <h3 class="center">Moses</h3>
          </div>
          <div class="team-member white-text ">
              <img src="/img/jay.jpg" class="circle team-img responsive-img" alt="">
              <h3 class="center">Jacob</h3>
          </div>
          <div class="team-member white-text ">
            <img src="/img/iveren.jpg" class="circle team-img responsive-img" alt="">
            <h3 class="center">Iveren</h3>
        </div>
        </div>
        <div class="team2">
          <div class="team-member white-text ">
            <img src="/img/ogo.jpg" class="circle team-img responsive-img" alt="">
            <h3 class="center">Ogo</h3>
        </div>
          <div class="team-member white-text ">
              <img src="/img/otse.jpg" class="circle team-img responsive-img" alt="">
              <h3 class="center">Otse</h3>
          </div>
          <div class="team-member white-text ">
            <img src="/img/phemy.jpg" class="circle team-img responsive-img" alt="">
            <h3 class="center">Phemy</h3>
          </div>
          <div class="team-member white-text ">
              <img src="/img/stephen.jpg" class="circle team-img responsive-img" alt="">
              <h3 class="center">Stephen</h3>
          </div>
        </div>

      </div>
    </div>
    <footer class=""><p class="text-center foot-text">This game is based on the <span class="footer-text">Card Against Humanity</span>
       card game, which is CC licensed (BY-NC-SA). Cards For Humanity is not affiliated with Cards Against Humanity.</p></footer>
  </div>
  
</div>

<!--JavaScript at end of body for optimized loading-->
