
  <div class="main" ng-controller="ProfileController">
    <div class="header">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">CFH</a>
          <a data-target="slide-out" class="sidenav-trigger" ng-click="openSideNav()"><i class="material-icons">menu</i></a>
          <div id="nav-mobile" class="right hide-on-med-and-down">
            <ul>
              <li><a href="#!/app">Join Game</a></li>
              <li><a ng-click="signout()">Sign Out</a></li>
              <li><a class="waves-effect waves-light btn donate-btn" ng-click="donate()">Donate Now</a></li>
              <li class="nav-img-li"><img class="nav-user-img" src="{{global.user.profileImage}}" /></li>
            </ul>
          </div>
        </div>
      </nav>
      <ul id="slide-out" class="sidenav">
        <li>
          <div class="sidenav-close-div">
              <a class="sidenav-close" ng-click="sideNavLinkClick()"><i class="material-icons">close</i></a>
          </div>
        </li>
        <li>
          <div class="user-view">
            <div class="nav-img-div">
              <img class="nav-user-img" src="{{global.user.profileImage}}" />
            </div>
            <p>{{global.user.username}}</p>
          </div>
        </li>
        <li><a ng-click="sideNavLinkClick('/app')">Join Game</a></li>
        <li><a ng-click="signout()">Sign Out</a></li>
        <li class="donate-btn-li"><a class="waves-effect waves-light btn donate-btn" ng-click="donate()">Donate Now</a></li>
      </ul>
    </div>
    <div class="profile-content">
      <div class="user-hero">
        <div class="user-hero-img">
          <img src="{{global.user.profileImage}}" alt="user">
        </div>
        <p class="username">{{global.user.username}}</p>
        <div class="extra-details">
          <div>
            <p>{{gamesPlayedCount}}</p>
            <p>
              <span class="hide-on-small-only">GAME<span ng-show="checkLength(gamesPlayedCount)">S</span></span>
              <span class="hide-on-med-and-up"><i class="fas fa-gamepad"></i></span>
            </p>
          </div>
          <div>
            <p>{{donationCount}}</p>
            <p>
              <span class="hide-on-small-only">DONATION<span ng-show="checkLength(donationCount)">S</span></span>
              <span class="hide-on-med-and-up"><i class="fas fa-crown"></i></span>
            </p>
          </div>
        </div>
      </div>
      <div class="main-content">
          <div class="row nav-tab">
              <div class="col s12 nav-tab-col">
                <ul class="tabs">
                  <li class="tab col s4">
                    <a ng-class="{ active: tabIsActive(1) }" ng-click="setTab(1)">
                      <span class="show-tab">HISTORY</span>
                      <span><i class="fas fa-edit"></i></span>
                    </a>
                  </li>
                  <li class="tab col s4">
                    <a ng-class="{ active: tabIsActive(2) }" ng-click="setTab(2)">
                      <span class="show-tab">LEADERBOARD</span>
                      <span><i class="fas fa-crown"></i><span></span>
                    </a>
                  </li>
                  <li class="tab col s4">
                    <a ng-class="{ active: tabIsActive(3) }" ng-click="setTab(3)">
                      <span class="show-tab">DONATIONS</span>
                      <span><i class="fas fa-hand-holding-usd"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-content">
                <div ng-show="tabIsActive(1)" class="col s12" ng-class="{'empty': gamesPlayed == 0}">
                  <h5 class="text-center games-won" ng-show="gamesPlayed != 0">Games Won: <span>{{gamesWon}}</span></h5>
                  <br>
                  <div class="empty-section no-games-played container" ng-show="gamesPlayed == 0">
                    Welcome Newbie. <a href="/#!/app">Join a Game</a>
                  </div>
                  <div class="games-card-group" ng-show="gamesPlayed != 0">
                    <div class="card" ng-repeat="game in gamesPlayed">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/game-page-1.jpg">
                      </div>
                      <div class="card-content">
                        <p class="card-title grey-text text-darken-4">{{game.datePlayed}}</p>
                        <p class="card-title grey-text text-darken-4">{{game.rounds}} Rounds</p>
                        <p class="card-title winner"><i class="fas fa-crown"></i> {{game.winner}}</p>
                        <p class="card-title activator view-players-link">View Players</p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Players<i class="material-icons right">close</i></span>
                        <ul>
                          <li class="card-title grey-text text-darken-4" ng-repeat="player in game.players">{{player}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="tabIsActive(2)" class="col s12" ng-class="{'empty': leaderBoard == 0}">
                  <div class="empty-section no-leaderboard  container" ng-show="leaderBoard == 0">
                    <p>Nothing for you here.</p> <a href="/#!/app">Invite Friends</a>
                  </div>
                  <div class="container">
                    <table class="striped centered" ng-show="leaderBoard != 0">
                      <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>Games Won</th>
                        </tr>
                      </thead>
              
                      <tbody>
                        <tr ng-repeat="user in leaderBoard">
                          <td>{{$index + 1}}</td>
                          <td>{{user.username}}</td>
                          <td>{{user.gamesWon}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div ng-show="tabIsActive(3)" class="col s12" ng-class="{'empty': donations == 0}">
                  <div class="empty-section no-donations container" ng-show="donations == 0">
                    <p>No Children Fed By You.</p>
                    <a class="waves-effect waves-light btn btn-large donate-btn" ng-click="donate()">Donate Now</a>
                  </div>
                  <div class="container">
                    <table class="striped centered" ng-show="donations != 0">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Date</th>
                        </tr>
                      </thead>
              
                      <tbody>
                          <tr ng-repeat="donation in donations">
                            <td>{{$index + 1}}</td>
                            <td>{{donation.date}}</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="footer">
      <p class="text-center">This game is based on the <span class="footer-text">Card Against Humanity</span> card game, which is CC licensed (BY-NC-SA). Cards For Humanity is not affiliated with Cards Against Humanity.</p>
    </div>
  </div>