<script type="text/javascript">
  (function () {
      console.log('first call');
      var po = document.createElement('script');
      po.type = 'text/javascript'; po.async = true;
      po.src = 'https://plus.google.com/js/client:plusone.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
  })();
</script>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1111138899036297',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });

    // Now that we've initialized the JavaScript SDK, we call
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
  });
}

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.

  function statusChangeCallback(response) {
    if (response === 'connected') {
      console.log('logged in and authenticated')
    } else {
      console.log('not authenticated');
    }
  }


  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

      <main class="ignore-css">
        <!--Sign in container starts-->
        <div id="signup-container">
          <br />
          <!--Top section starts-->
          <div class="top">
              <h4 class="center-align titleFont">
                <span class="secondaryColor">Cards</span>
                <span class="alternateColor">for</span>
                <span class="redColor">Humanity</span>
              </h4>
          </div>
          <!--Top section ends-->
          <br />
          <!--Middle section starts-->
            <div ng-controller="AuthController" ng-init="signupError=''" class="row">
              <div class="col hide-on-small-only m2 l2"></div>
              <div class="col s12 m8 l8">
                  <div class="center card row middleContainer">
                      <!--Left hand of middle card starts-->
                      <div class="left-signup-card col m6 s12">
                        <div>
                            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark">Google</div>
                        <br /><br />
                        <h5 class="center-align padding secondaryColor"> <strong>SIGN UP</strong></h5>
                        <div class="padding">
                            <form name="signupForm" class="col s12">
                                <h6 class="red-text" ng-show="signupError">
                                    {{signupError}}
                                  </h6>
                                <div class="row">
                                    <div class="input-field signup-input-field col s12">
                                      <input ng-model="email" name="email" id="email" type="email" required class="validate">
                                      <label for="email">EMAIL ADDRESS</label>
                                      <span class="red-text" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
                                        <span ng-show="signupForm.email.$error.email">Invalid email address.</span>
                                      </span>
                                      <span class="red-text" ng-show="emailError">
                                          {{emailError}}
                                        </span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="input-field signup-input-field col s12">
                                      <input name="username" ng-model="username" id="username" type="text" class="validate" required>
                                      <label for="username">USERNAME</label>
                                      <span class="red-text" ng-show="usernameError">
                                          {{usernameError}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="input-field signup-input-field col s12">
                                    <input name="password" ng-model="password" id="password" type="password"
                                      class="validate" required ng-minlength="8" ng-maxlength="15" compare-password>
                                    <label for="password">PASSWORD</label>
                                    <span class="red-text" ng-show="
                                    (!signupForm.password.$error.required && signupForm.password.$dirty) &&
                                    (signupForm.password.$error.minlength || signupForm.password.$error.maxlength)">
                                      Passwords must be atleast 8 and 15 characters.
                                    </span>
                                    <span class="red-text" ng-show="passwordError">
                                        {{passwordError}}
                                      </span>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="input-field signup-input-field col s12">
                                      <input name="confirmPassword" ng-model="confirmPassword" id="confirmPassword"
                                        type="password" class="validate" required compare-password>
                                      <label for="confirmPassword">CONFIRM PASSWORD</label>
                                      <span class="red-text" ng-show="signupForm.confirmPassword.$dirty &&
                                        signupForm.confirmPassword.$error.required">
                                        Please confirm your password.
                                      </span>
                                      <span class="red-text" ng-show="signupForm.confirmPassword.$error.samePassword">
                                        Passwords dont match.
                                      </span>
                                    </div>
                                  </div>
                                <div class="row">
                                    <div class="file-field input-field signup-input-field col s12">
                                        <div class="btn upload-button">
                                          Choose
                                          <input type="file" ngf-select ng-model="profilePic" name="profilePic" ngf-pattern="'image/*'"
                                          ngf-accept="'image/*'" ngf-max-size="20MB" required />
                                        </div>
                                        <div class="file-path-wrapper">
                                          <input placeholder="profile image" id="uploadImage" class="file-path validate" type="text">
                                        </div>
                                      </div>
                                </div>
                                <div class="center">
                                  <button ng-click="signup()" class="btn btn-large btnSecondary waves-effect waves-light signupBtn"
                                    type="button" name="signup" ng-disabled="signupForm.$invalid || submitting">
                                    SIGN UP
                                  </button>
                                  <div ng-show="submitting">
                                    <img src="/img/loaders/spinner.svg" width="50"/>
                                  </div>
                                </div>
                                <br />
                              </form>
                              <p>you can also sign up with your social accounts</p>
                              <br />
                              <div>
                                <button class="googleIcon"></button>
                                &nbsp;
                                <button class="facebookIcon"></button>
                                <fb:login-button
                                scope="public_profile,email"
                                onlogin="checkLoginState();">
                                </fb:login-button>

                                <div id="status">
                                </div>
                              </div>
                        </div>
                        <a href="#!/signin" class="secondaryColor">Have an account? Sign in</a>
                        <br/><br />
                      </div>
                      </div>
                      <!--Left hand of middle card ends-->
                      <!--Right hand of middle card starts-->
                      <div class="right-signup-card col m6 hide-on-small-only">
                        <br /><br /><br /><br /><br />
                        <div>
                          <h1 class="center-align logoFont">
                            <span class="secondaryColor">C</span>
                            <span class="alternateColor">F</span>
                            <span class="redColor">H</span>
                          </h1>
                        </div>
                        <br /><br /><br /><br />
                        <div>
                          <h5 class="white-text"><strong>A game for horrible people <span class="redColor">desperately</span>
                            trying to do good.</strong></h5>
                        </div>
                        <br /><br /><br /><br /><br />
                        <div>
                          <small class="white-text"><span class="redColor">Warning!</span> This game contains offensive, profane, explicit content
                            created by <span class="secondaryColor">Cards Against Humanity</span> and provided here,
                            uncensored and complete in digital form. The People Team made us say that.
                          </small>
                        </div>
                        <br /><br /><br />

                      </div>
                      <!--Right hand of middle card ends-->
                    </div>
              </div>
              <div class="col hide-on-small-only m2 l2"></div>

            </div>
          <!--Middle section ends-->
        <br /><br />
          <!--Bottom section starts-->
          <div class="center page-footer">
            <strong class="center-align white-text">
              This game is based on the <span class="secondaryColor">Cards Against Humanity</span> card game,
              which is CC licensed (BY-NC-SA). Cards For Humanity is not affiliated with Cards Against Humanity.
            </strong>
          </div>
          <!--Bottom section ends-->
        </div>
        <!--Sign in container ends-->
      </main>
      <script>
          function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
          };
        </script>
