
      <main>
        <!--Sign in container starts-->
        <div id="signinContainer">
          <br />
          <!--Top section starts-->
          <div class="top">
              <h4 class="center-align titleFont">
                <span class="secondaryColor">Cards</span>
                <span class="alternateColor">for</span>
                <span class="redColor">Humanity</span>
              </h4>
          </div>
          <!--Top section ends-->
          <br />
          <!--Middle section starts-->
            <div ng-controller="AuthController" ng-init="signinError=''" class="row">
              <div class="col hide-on-small-only m2 l2"></div>
              <div class="col s12 m8 l8">
                  <div class="center card row middleContainer">
                      <!--Left hand of middle card starts-->
                      <div class="leftSigninCard col m6 s12">
                        <div>
                        <br /><br />
                        <h5 class="center-align padding secondaryColor"> <strong>SIGN IN</strong></h5>
                        <div class="padding">
                            <form name="signinForm" class="col s12">
                              <h6 class="red-text" ng-show="signinError">
                                {{signinError}}
                              </h6>
                                <div class="row">
                                    <div class="input-field col s12">
                                      <input id="email" name="email" ng-model="email" type="text"
                                      class="validate" required>
                                      <label for="email">EMAIL ADDRESS</label>
                                      <span class="red-text" ng-show="signinForm.email.$dirty &&
                                      signinForm.email.$error.required">
                                          Email is required.
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="input-field col s12">
                                    <input id="password" name="password" ng-model="password" type="password"
                                    class="validate" required>
                                    <label for="password">PASSWORD</label>
                                    <span class="red-text" ng-show="signinForm.password.$dirty &&
                                      signinForm.password.$error.required">
                                          Password is required.
                                        </span>
                                  </div>
                                </div>
                                <div class="center">
                                  <button ng-click="signin()" class="btn btn-large btnSecondary waves-effect waves-light" type="button" name="signin">
                                    SIGN IN
                                  </button>
                                </div>
                                <br /><br />
                              </form>
                              <p>you can also sign in with your social accounts</p>
                              <br />
                              <div>
                                <button class="googleIcon"></button>
                                &nbsp;
                                <button class="facebookIcon"></button>
                              </div>
                        </div>
                        <a href="#!/signup" class="secondaryColor">Don't have an account? Sign up</a>
                        <br/><br />
                      </div>
                      </div>
                      <!--Left hand of middle card ends-->
                      <!--Right hand of middle card starts-->
                      <div class="rightSigninCard col m6 hide-on-small-only">
                        <br /><br /><br /><br /><br />
                        <div>
                          <h1 class="center-align logoFont">
                            <span class="secondaryColor">C</span>
                            <span class="alternateColor">F</span>
                            <span class="redColor">H</span>
                          </h1>
                        </div>
                        <br /><br /><br /><br />
                        <div>
                          <h5 class="white-text"><strong>A game for horrible people <span class="redColor">desperately</span>
                            trying to do good.</strong></h5>
                        </div>
                        <br /><br /><br /><br /><br />
                        <div>
                          <small class="white-text"><span class="redColor">Warning!</span> This game contains offensive, profane, explicit content
                            created by <span class="secondaryColor">Cards Against Humanity</span> and provided here,
                            uncensored and complete in digital form. The People Team made us say that.
                          </small>
                        </div>
                        <br /><br /><br />
          
                      </div>
                      <!--Right hand of middle card ends-->
                    </div>
              </div>
              <div class="col hide-on-small-only m2 l2"></div>

            </div>
          <!--Middle section ends-->
        <br /><br />
          <!--Bottom section starts-->
          <div class="center page-footer">
            <strong class="center-align white-text">
              This game is based on the <span class="secondaryColor">Cards Against Humanity</span> card game,
              which is CC licensed (BY-NC-SA). Cards For Humanity is not affiliated with Cards Against Humanity.
            </strong>
          </div>
          <!--Bottom section ends-->
        </div>
        <!--Sign in container ends-->
      </main>
