<div class="main image-one tour" ng-controller="TourController" ng-intro-options="IntroOptions" ng-intro-autostart="true" ng-intro-method="CallMe">
        <div class="game-content">
          <div class="main-board">
            <div class="interaction-div" id="interaction-board-tour">
              <div class="timer" id="timer-tour">
                <div><p>12</p></div>
              </div>
              <div class="interaction-board"  id="question-tour">
                <div class="waiting" style="display: none">
                  <div class="waiting-text">
                    <p>Searching...</p>
                    <p>1 / 12 Players Found</p>
                  </div>
                  <div class="waiting-btns">
                    <button class="waves-effect waves-light btn start-game-btn">Start Game</button>
                    <button class="waves-effect waves-light btn invite-btn">Invite Players</button>
                  </div>
                </div>
                <div class="question">
                    If it weren’t for me you wouldn’t be talking about _________
                </div>
              </div>
            </div>
            <div class="card-board">
              <div class="instructions" style="display: none">
                <p class="text-center">Instructions</p>
                <ol>
                  <li>Each player begins with, and will always have, 10 white answer cards.</li>
                  <li>For each round, one player is randomly chosen as the Card Czar.</li>
                  <li>The player with the highlighted score card is the Czar for that round.</li>
                  <li>Everyone else answers the black question card by clicking on the answer card they want to use.</li>
                  <li>The Card Czar then picks a favorite answer, and whoever played that answer wins the round.</li>
                </ol>
              </div>
              <div class="czar-info" style="display: none">
                <div class="info">
                    <p>You are the Czar</p>
                    <p>Players are choosing their answers. Prepare to select a Card.</p>
                </div>
                <div class="make-a-wish">
                    <p class='fact-tagline'>Did you know?</p>
                    <p class='fact'>
                        Health professionals who treat wish kids, including nurses and doctors, overwhelmingly believe that the wish experience can improve a wish kids’ physical health.
                    </p>
                    <div class='logo'>
                      <img src='../img/make-a-wish-logo.png'/>
                    </div>
                </div>
              </div>
              <div class="cards">
                <div class="cards-board answers" id="cards-board-tour">
                    <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                    </div>
                    <div class="game-card">
                        <div class="answer">Kissing Robin Hood</div>
                        <div class="logo">
                          <i class="fas fa-hands"></i>
                          Cards For Humanity
                        </div>
                    </div>
                    <div class="game-card">
                        <div class="answer">Dating JayZ and being Becky</div>
                        <div class="logo">
                          <i class="fas fa-hands"></i>
                          Cards For Humanity
                        </div>
                    </div>
                    <div class="game-card">
                        <div class="answer">Getting Blown Up</div>
                        <div class="logo">
                          <i class="fas fa-hands"></i>
                          Cards For Humanity
                        </div>
                    </div>
                    <div class="game-card">
                        <div class="answer">Spice it up!</div>
                        <div class="logo">
                          <i class="fas fa-hands"></i>
                          Cards For Humanity
                        </div>
                    </div>
                    <div class="game-card">
                        <div class="answer">The Bloody Baron</div>
                        <div class="logo">
                          <i class="fas fa-hands"></i>
                          Cards For Humanity
                        </div>
                    </div>
                    <div class="game-card">
                        <div class="answer">Parry Hotter</div>
                        <div class="logo">
                          <i class="fas fa-hands"></i>
                          Cards For Humanity
                        </div>
                    </div>
                    <div class="game-card">
                        <div class="answer">The Joker</div>
                        <div class="logo">
                          <i class="fas fa-hands"></i>
                          Cards For Humanity
                        </div>
                    </div>
                    <div class="game-card">
                        <div class="answer">Farts</div>
                        <div class="logo">
                          <i class="fas fa-hands"></i>
                          Cards For Humanity
                        </div>
                    </div>
                    <div class="game-card">
                        <div class="answer">Drinking spunked beer</div>
                        <div class="logo">
                          <i class="fas fa-hands"></i>
                          Cards For Humanity
                        </div>
                    </div>
                </div>
                <div class="cards-board czar-selections" style="display: none">
                  <div class="game-card">
                    <div class="answer">Getting Spanked By Father Christmas</div>
                    <div class="logo">
                      <i class="fas fa-hands"></i>
                      Cards For Humanity
                    </div>
                  </div>
                  <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                  </div>
                  <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                  </div>
                  <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                  </div>
                  <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                  </div>
                  <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                  </div>
                  <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                  </div>
                  <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                  </div>
                  <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                  </div>
                  <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                  </div>
                  <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                  </div>
                  <div class="game-card">
                      <div class="answer">Getting Spanked By Father Christmas</div>
                      <div class="logo">
                        <i class="fas fa-hands"></i>
                        Cards For Humanity
                      </div>
                  </div>
                </div>
              </div>
              <div class="call-to-donate" style="display: none">
                <div>
                    <p>What would you like to do now?</p>
                    <p>You might consider donating to charity to atone for the horrifying answers you've submitted.</p>
                    <p>Donating will also place a lovely crown on your avatar's head.</p>
                </div>
                <div class="btns">
                  <button class="waves-effect waves-light btn join-btn">Start Game</button>
                  <button class="waves-effect waves-light btn btn-large donate-btn">Donate Now</button>
                  <button class="waves-effect waves-light btn home-btn">Return to Lobby</button>
                </div>
              </div>
            </div>
          </div>
          <div class="score-board" id="score-board-tour">
            <div class="current-user-score">
              <p>Score Board</p>
              <ul class="collection">
                <li class="collection-item avatar"  id="user-score-card-tour">
                  <span>
                    <p>You</p>
                    <div class>
                      <span>Points</span>
                      <span>3 / 5</span>
                    </div>
                  </span>
                  <img src="../img/moses.jpg" alt="" class="circle">
                </li>
              </ul>
            </div>
            <div class="players-score">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <div class="czar-title"><p>CZAR</p></div>
                        <span>
                            <p>Hasstrup</p>
                            <div class>
                              <span>Points</span>
                              <span>1 / 5</span>
                            </div>
                          </span>
                      <img src="../img/moses.jpg" alt="" class="circle">
                    </li>
                    <li class="collection-item avatar czar" id="czar-score-card-tour">
                        <div class="czar-title"><p>CZAR</p></div>
                        <span>
                            <p>Ben</p>
                            <div class>
                              <span>Points</span>
                              <span>2 / 5</span>
                            </div>
                          </span>
                      <img src="../img/moses.jpg" alt="" class="circle">
                    </li>
                    <li class="collection-item avatar">
                        <div class="czar-title"><p>CZAR</p></div>
                        <span>
                            <p>Dika</p>
                            <div class>
                              <span>Points</span>
                              <span>3 / 5</span>
                            </div>
                          </span>
                      <img src="../img/moses.jpg" alt="" class="circle">
                    </li>
                    <li class="collection-item avatar">
                        <div class="czar-title"><p>CZAR</p></div>
                        <span>
                            <p>IK</p>
                            <div class>
                              <span>Points</span>
                              <span>4 / 5</span>
                            </div>
                          </span>
                      <img src="../img/moses.jpg" alt="" class="circle">
                    </li>
                    <li class="collection-item avatar">
                        <div class="czar-title"><p>CZAR</p></div>
                        <span>
                            <p>Nkem</p>
                            <div class>
                              <span>Points</span>
                              <span>2 / 5</span>
                            </div>
                          </span>
                      <img src="../img/moses.jpg" alt="" class="circle">
                    </li>
                    <li class="collection-item avatar">
                        <div class="czar-title"><p>CZAR</p></div>
                        <span>
                            <p>Iveren</p>
                            <div class>
                              <span>Points</span>
                              <span>1 / 5</span>
                            </div>
                          </span>
                        <img src="../img/moses.jpg" alt="" class="circle">
                      </li>
                      <li class="collection-item avatar">
                          <div class="czar-title"><p>CZAR</p></div>
                          <span>
                              <p>Stephen</p>
                              <div class>
                                <span>Points</span>
                                <span>2 / 5</span>
                              </div>
                            </span>
                          <img src="../img/moses.jpg" alt="" class="circle">
                        </li>
                        <li class="collection-item avatar">
                            <div class="czar-title"><p>CZAR</p></div>
                            <span>
                                <p>Ogooluwa</p>
                                <div class>
                                  <span>Points</span>
                                  <span>1 / 5</span>
                                </div>
                              </span>
                            <img src="../img/moses.jpg" alt="" class="circle">
                          </li>
                          <li class="collection-item avatar">
                              <div class="czar-title"><p>CZAR</p></div>
                              <span>
                                  <p>Jacob</p>
                                  <div class>
                                    <span>Points</span>
                                    <span>2 / 5</span>
                                  </div>
                                </span>
                              <img src="../img/moses.jpg" alt="" class="circle">
                            </li>
                            <li class="collection-item avatar">
                                <div class="czar-title"><p>CZAR</p></div>
                                <span>
                                    <p>Femi</p>
                                    <div class>
                                      <span>Points</span>
                                      <span>1 / 5</span>
                                    </div>
                                  </span>
                                <img src="../img/moses.jpg" alt="" class="circle">
                              </li>
                              <li class="collection-item avatar">
                                  <div class="czar-title"><p>CZAR</p></div>
                                  <span>
                                      <p>Otse</p>
                                      <div class>
                                        <span>Points</span>
                                        <span>4 / 5</span>
                                      </div>
                                    </span>
                                  <img src="../img/moses.jpg" alt="" class="circle">
                        </li>
                  </ul>
            </div>
          </div>
        </div>
      </div>
