#app-container {
  select {
    display: block;
  }
}
#invite-container {
  #search-player {
    width: 350px;
  }
  input {
    border-radius: 5px;
    background: white;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 350px;
  }
  #invite-player {
    background-color: cyan;
    width: 350px;
  }
}


#new-round-modal {
  text-align: center;

  .round-winner-msg {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;

    span {
      color: #EDAE49;
      text-transform: uppercase;
    }
  }

  .countdown {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .timer {
      font-weight: bold;
      font-size: 40px;
      color: #EDAE49;
    }
  }
}
