#app-container {
  select {
    display: block;
  }
}
#invite-container {
  #search-player {
    width: 350px;
  }
  input {
    border-radius: 5px;
    background: white;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 350px;
  }
  #invite-player {
    background-color: cyan;
    width: 350px;
  }
}


#new-round-modal {
  text-align: center;

  .round-winner-msg {
    font-size: 27px;
    font-weight: bold;
  }

  .countdown {
    font-size: 24px;

    .timer{
      font-weight: bold;
      font-size: 35px;
      color: #065067e0;
    }
  }
}
